<!-- <app-header-style-two></app-header-style-two> -->
<app-header-style-five></app-header-style-five>

<app-homenine-main-banner></app-homenine-main-banner>

<!-- <app-homeone-main-banner></app-homeone-main-banner> -->
<div class="col-lg-12" style="background-color: #23282d;background-image: url(assets/img/hero-wave-dark.png);"> 
       <!-- <img src="assets/img/indir.png" alt=""> -->
</div>


<app-homefour-courses></app-homefour-courses>

<!-- <app-homeseven-courses></app-homeseven-courses> -->

<app-offer></app-offer>

<section class="faq-area pb-100" style="background-color:#101820">
    <br>
    <div class="section-title">
        <h2 style="color: #fff;">Sıkça Sorulan Sorular</h2>
    </div>
    <app-faq></app-faq>  
    <!-- <div class="divider"></div> -->
</section>

<footer class="footer-area">
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Hakkında</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about">Bütünsel Yolculuk Platformu</a></li>
                        <li><a routerLink="/faqs">Suudi Arabistan Hakkında</a></li>
                        <li><a routerLink="/">Para Birimi ve Ödemeler</a></li>
                 
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Umre ve Ziyaret</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about">Umreye Giriş</a></li>
                        <li><a routerLink="/faqs">Yolculuk ve Ulaşım</a></li>
                        <li><a routerLink="/">Miqat</a></li>
                        <li><a routerLink="/">İhram</a></li>
                        <li><a routerLink="/">Hareme Ulaşım</a></li>
                        <li><a routerLink="/">Tavaf</a></li>
                        <li><a routerLink="/">Sa'y</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Mekke</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about">Elharam Camii</a></li>
                        <li><a routerLink="/faqs">Alharam Camii Hizmetleri</a></li>
                        <li><a routerLink="/">Gezilecek Yerler</a></li>
                        <li><a routerLink="/">Kutsal Mekanlar</a></li>
                        <li><a routerLink="/">Konaklama</a></li>
                        <li><a routerLink="/">Alışveris</a></li>
                        <li><a routerLink="/">Restoranlar ve Kafeler</a></li>
                        <li><a routerLink="/">Mekke'ye Varış</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Medine</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about">Peygamber Camii</a></li>
                        <li><a routerLink="/faqs">Simgesel Yapılar</a></li>
                        <li><a routerLink="/">Konaklama</a></li>
                        <li><a routerLink="/">Alışveris</a></li>
                        <li><a routerLink="/">Yiyecek & İçecek</a></li>
                        <li><a routerLink="/">Toplu taşıma</a></li>
                        <li><a routerLink="/">Medine'ye Ulaşım</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>Programlar ve Teklifler</h3>
                    <ul class="support-link">
                        <li><a routerLink="/about">Bireyler için Ortaklar</a></li>
                        <li><a routerLink="/faqs">İşletmeler için Ortaklar</a></li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
</footer>

<ngx-scrolltop></ngx-scrolltop>

<!-- <app-homeone-about></app-homeone-about> -->
<!-- 
<div class="courses-categories-area bg-image pt-100 pb-70">
    <div class="container">
        <div class="section-title text-start">
            <span class="sub-title">Courses Categories</span>
            <h2>Browse Trending Categories</h2>
            <a routerLink="/courses-category-style-1" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">View All</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>
        <app-categories-style-one></app-categories-style-one>
    </div>
</div>

<div class="funfacts-area pt-100">
    <div class="container">
        <div class="funfacts-inner">
            <app-funfacts></app-funfacts>
        </div>
    </div>
</div>

<app-homeone-courses></app-homeone-courses>

<div class="partner-area bg-color ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Company & Partners</h2>
        </div>
        <app-partner-style-one></app-partner-style-one>
    </div>
</div>

<div class="instructor-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Make Connections</span>
            <h2>Team of Instructors</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea.</p>
        </div>
        <app-instructors-style-one></app-instructors-style-one>
    </div>
</div>

<app-become-instructor-partner></app-become-instructor-partner>

<div class="feedback-area ptb-100">
    <div class="container">
        <app-feedback-style-one></app-feedback-style-one>
    </div>
</div> -->

